.right-section-container{
    width:75%;
    min-height:100vh;
    background-color: rgb(245, 252, 252);
    position:absolute;
    right:0px;
    display:flex; 
     justify-content: center;
    padding: 20px ;
    box-sizing: border-box;
    border-top: 1px solid rgb(212, 210, 210);
}
.feeds-container{
    width:72%;
    
    /* border: 1px solid grey; */
}
.explore-container{
    width:28%;
    
    /* border: 1px solid grey; */
}