.right-section-container{
    width:75%;
    min-height:100vh;
    background-color: rgb(245, 252, 252);
    position:absolute;
    right:0px;
    display:flex; 
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px ;
    box-sizing: border-box;
    border-top: 1px solid rgb(212, 210, 210);
}
.feeds-container{
    width:68%;
    
    /* border: 1px solid grey; */
}
.explore-container{
   width:32%;
    
    /* border: 1px solid grey; */
}
@media(max-width:800px){
    .explore-container{
        display:none;
       
    }
    .right-section-container{
       
        position:absolute;
        transform: translate(-20%);
       
    }
}